body {
	background:#292929;
	font-family: "open sans","arial";
}

a {
	text-decoration:none;
	color:#000;

}

a:hover {
	color:#fff;
}

main {
	background:#fff;
	width:80%;
	margin:50px auto;
	padding: 20px 30px 20px;
	border-radius:5px;
}

p {
	font-size:13px;
}


input, section {
	clear:both;
	padding-top:10px;
	display:none;

}

label {
	font-weight:bold;
	font-size:14px;
	display: block;
	float: left;
	padding: 10px 30px;
	border-top: 2px solid transparent;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 0px solid #DDD;
}

label:hover {
	cursor:pointer;
	text-decoration:underline;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 {
	display:block;
	width: 98%;
	border: 1px solid #ddd;
}

input:checked + label {
	border-top:3px solid #000;
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
	border-bottom:3px solid transparent;
	text-decoration:none;
}

section {
	border:1px solid #ddd;
	border-top:none;
	padding:10px;
	width:100%;
	border-radius:0 0 10px 10px;
}

#footer {
	clear:both;
	width:500px;
	height:20px;
	border-radius:10px;
	padding:10px;
	margin:0 auto;
	background:#fff;
	cursor:pointer;
}
table, th, td{
        border: 0px solid black;
}
 
table{
        border-collapse: collapse;
        width: 100%;
}
th{
        height: 50px;
}
 
th,td{
        padding: 15px;
        text-align: left;
}
.img{
float:right;
}